@use "node_modules/nord/src/sass/nord" as nord;

div.shop-container {
  width: 100%;
  height: 100%;

  div.product-container {
    width: 100%;
    display: grid;
    grid-template-rows: auto;

    div.product-item {
      padding: 0.5rem;
      width: 100%;
      place-self: center center;
      display: flex;
      flex-direction: column;
      cursor: pointer;

      div.product-thumb {
        border-radius: 1rem;
        width: 100%;

        img {
          border-radius: 1rem;
          width: 100%;
          aspect-ratio: 1 / 1;
          object-fit: cover;
        }

        img:hover {
          border: 4px solid nord.$nord4;
        }
      }
    }
  }

  @media (width <= 740px) {
    div.product-container {
      grid-template-columns: repeat(2, 50%);
    }
  }

  @media (width > 740px) {
    div.product-container {
      grid-template-columns: repeat(3, 33.3%);
    }
  }

  @media (width > 1000px) {
    div.product-container {
      grid-template-columns: repeat(4, 25%);
    }
  }
}
