<!DOCTYPE html>
html(lang="en")
  head 
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title SHOP
    link(rel="stylesheet" href="/css/main.css")
  body
    header 
      nav 
        ul 
          li 
            a(href="/") Shop
          li 
            a(href="/admin/add-product") Add Products
    main 
      div.error_container
        h1 ERROR! Page not found ...
        a.return_home(href="/") Return to home
